/* text wrapper will keep the page looking clean */

.wrapper {
    width: 300px;
    margin: auto;
  }

/* centers all text with this class */

  .text-centered{
    text-align: center;
  }

/* a class for the header and footer background */
  
.brown-background{
    background-color: #CCB69B;
    color: black;
  height: auto;
}

/* This class centers and fixes margins for any image */

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

/* removes uncessary padding and margin width */

* {
  margin: 0;
  padding: 0;
}

h1{
    font-family: 'Arial';
}

li{
  font-size: 16px;
}

p{
  font-size: 12px;
  font-family: Arial;
  margin: 5;
  padding: 5;
  line-height: 20px;
}

h3{
  margin: 1;
  padding: 1;
}

.weight{
  font-weight: 30px;
}

/* These 16 lines change the color of the links when in use */

a:link{
    color: black;
}

a:visited{
    color: #442d41
}

a:hover{
    color:  #b57aad
}

a:active{
    color:  #fca9f1
}
/* End of link colors */


.body-color {
    background-color: #9ED0E6;
}